@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.font-sans {font-family: "Roboto",arial,sans-serif; }

* {scrollbar-width: thin; scrollbar-color: #ССС #FFF ;}

.btn {min-width: 40px;}

.tr-1 {transition: all 0.25s ease-out;}
.tr-2 {transition: all 0.5s ease-out;}
.tr-3 {transition: all 1s ease-out;}
.tr-4 {transition: all 2s ease-out;}
.tr-5 {transition: all 5s ease-out;}

input:focus, textarea:focus {outline: none !important;}

.text-grey {color: #DEDEDE !important;}

.font-half {line-height: 14px; font-size: 50%;}
.font-half-lg {line-height: 12px; font-size: 60%;}

.note-item {}
.note-item .item-actions {visibility: hidden; opacity: 0}
.note-item:hover .item-actions {visibility: visible; opacity: 1}

.prose code {background-color: #DDD !important; padding: 0.25rem !important; border-radius: 0.25rem !important;}
