@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

* {scrollbar-width: thin; scrollbar-color: #ССС #FFF ;}

.btn {min-width: 40px;}

.tr-1 {transition: all 0.25s ease-out;}
.tr-2 {transition: all 0.5s ease-out;}
.tr-3 {transition: all 1s ease-out;}
.tr-4 {transition: all 2s ease-out;}
.tr-5 {transition: all 5s ease-out;}

.cursor-pointer {cursor: pointer !important;}

.text-grey {color: #DEDEDE !important;}

.font-half {line-height: 14px; font-size: 50%;}
.font-half-lg {line-height: 12px; font-size: 60%;}

.note-item {}
.note-item .item-actions {visibility: hidden; opacity: 0}
.note-item:hover .item-actions {visibility: visible; opacity: 1}
